.rect-background {
  fill: #5f47c2; }

.rectDay {
  fill: yellow; }

body {
  background: #3a368f; }

#vis {
  width: 100%; }

#form-holder {
  margin-top: 1em;
  margin-bottom: 1em; }
  #form-holder input {
    color: #ffffff;
    font-size: 1em;
    background-color: #522fa8; }
  #form-holder .btn {
    width: 100%;
    background-color: #522fa8; }
