@import 'chart';

$input-field-color: #522fa8;
$input-text-color: #ffffff;

body {
  background: #3a368f;
}

#vis {
  width:100%
}

.container {
  margin-top: 1em;
  margin-bottom: 1em;
}

#form-holder {

  input {
    color: $input-text-color;
    font-size: 1em;
    background-color: $input-field-color;

  }

  .btn {
    width:100%;
    background-color: $input-field-color;
  }
}

#functionality-holder {
  color: white;

  .btn {
    width:100%;
    color: $input-text-color;
    background-color: $input-field-color;
  }
}
